<h1>Admin#main</h1>

<% @girls.each do |girl| %>
      <li>
      		<p><%= girl.name %></p>

            <%= image_tag(girl.avatar.url(:thumb)) %>
            <p><%= girl.name %></p>
            <p><%= girl.actress %></p>

      </li>
    <% end %>