<center>
  
	<% if @girl != nil %>
  	<% if @photo && @photo.file %>
  		<%= image_tag @photo.file.cdn_url("scale_crop/300x400/center/") %>
  	<% end %>
    <div id="ex">
      <h1>Porn actress?</h1>
  	 <%= button_to "Yes", { :action => "click", :id => @girl.id, :type => 'true' }, :method => :get, :remote => true, class: "btn btn-large btn-primary play-button" %>
  	 <%= button_to "No", { :action => "click", :id => @girl.id, :type => 'false' }, :method => :get, :remote => true, class: "btn btn-large btn-primary play-button" %>
     </div>
	<% else %>
		<%= "Database don't have any girl" %>
	<% end %>


</center>