<center>
  <div style="width: 670px;">
	<% if @girl != nil %>
  <div style="float: left; width: 300px; height: 440px;">
  	<% if @photo && @photo.file %>
      <div style="float: left; width:300px; height:400px; background-image: url(<%= @photo.file.cdn_url("scale_crop/300x400/center/") %>)"></div>
  	<% end %>
    <div id="top-block"></div>
  </div>
    <div id="answer-buttons" style="margin-left: 20px; padding-top: 60px; width: 350px; float: left;">
      <h1>Porn actress?</h1>
  	 <%= button_to "Yes", { :action => "click", :id => @girl.id, :type => 'true' }, :method => :get, :remote => true, class: "btn btn-large btn-primary play-button" %>
  	 <%= button_to "No", { :action => "click", :id => @girl.id, :type => 'false' }, :method => :get, :remote => true, class: "btn btn-large btn-primary play-button" %>
     </div>
	<% else %>
		<%= "Database don't have any girl" %>
	<% end %>
</div>
</center>