<center>
	<% if @girl != nil %>
  	<% if @photo && @photo.file %>
  		<%= image_tag @photo.file.cdn_url("scale_crop/300x400") %>
  	<% end %>
      <h1>Who that girl?</h1>
  	 <%= button_to "Girl", { :action => "click", :id => @girl.id, :type => "girl" }, class: "btn btn-large btn-primary play-button" %>
  	 <%= button_to "Porn actress", { :action => "click", :id => @girl.id, :type => "actress" }, class: "btn btn-large btn-primary play-button" %>
	<% else %>
		<%= "Database don't have any girl" %>
	<% end %>

</center>